img {
    width: 100%;
    height: 100%;
    /* position: fixed; */
    object-fit: cover;
    /* z-index: -1; */
}

video {
    width: 100%;
    height: 100%;
    /* position: fixed; */
    object-fit: cover;
    /* z-index: -1; */
}
.homeSection-container{
    /* background: url('') center center/cover no-repeat; */
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    display:flex;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}