body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.main {
  width: 100%;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* LOGIN */ 
@import url("./styles/login.css");
@import url("./pages/Password/forgotPassword.css");
@import url("./pages/Profile/profile.css");
@import url("./pages/Forum/Posts/ShowPost/showPost.css");
@import url("./styles/forum.css");
@import url("./pages/Forum/Form/Newtus.css");
@import url("./pages/Forum/Form/Form.css");
@import url("./pages/Forum//Posts/Post/showImage.css");
@import url("./styles//profile.css");
@import url("./styles/listUser.css");
@import url("./pages/Member/member.css");
@import url("./pages/Forum/Posts/Comment/commentPost.css");
@import url("./pages/Member/search.css");
@import url("./pages/Message/userCardMessage.css");
@import url("./pages/Message/message.css");
@import url("./components/navbar/navbar.css");
@import url("./pages/Report/report.css");

@import 'bootstrap/dist/css/bootstrap.min.css';

